@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
/*font-family: 'Rambla', sans-serif;*/ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', sans-serif;*/

* { box-sizing: border-box; 
    margin:0;
    padding:0;
    font-family: 'Rambla', sans-serif; 
} 

a { 
    text-decoration: none;
} 

body { 
    height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f7f9f9
} 

/*texto*/
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #fff;
    background-color: rgb(118, 5, 112);
    padding: 20px 20px; 
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px 20px;
    color: #fff; 
    background-color: #000000;
}

h3 {
    padding: 20px 20px; 
    color: white;
    background-color: #a0a8f3;
}

h4 {
    color: white;
    background-color: #cfb7ff;
}

h5 {
    color: white;
}

/*imágenes*/
img { 
    width: 200px;
} 

/*................NAVBAR..................*/
nav {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: black; 
    position: sticky;
 } 

.nav_list {
    display: flex;
    gap: 30px;
}

.nav_link, .nav_brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
 }

 li {
    list-style-type: none;
 } 

/*..............INICIO..................*/

/*hero*/
.hero_imágen_index {
    background-image: url(../imgs/manigueta.png);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9967ce;
}
  
.hero_text {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 100px;
    color: #fff;
    padding: 40px 20px;
}

/*.................SERIGRAFÍA..................*/

/*hero pag de serigrafía*/
.hero_imágen_bastidor {
    background-image: url(../imgs/manosenbastidor2.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /*grid*/
.grid_container_grabado {
    display: grid;
    grid-template-areas: 
    'intro intro intro intro' 
    'info1 info2 info3 info4';

    .intro_grabado {
        grid-area: intro;
    }
    .info_1_grabado {
        grid-area: info1;
    }
    .info_2_grabado {
        grid-area: info2;
    }
    .info_3_grabado {
        grid-area: info3;
    }
    .info_4_grabado {
        grid-area: info4;
    }

    & > div {
        text-align: start;
        padding: 10px 10px;
    }

    .subtitulo_grabado_intro {
        text-align: start;
        font-weight: bold;
        padding-bottom: 8px;   
    }
    .subtitulos_grabado {
        text-align: center;
        font-weight: bold; 
        padding-bottom: 8px; 
    }
    
}

/*........................TALLER.........................*/

/*hero pag de taller*/
.hero_imágen_mesadetrabajo {background-image: url(../imgs/mesadetrabajo6.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_text_mesadetrabajo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: end;
    font-size: 100px;
    color: #000000;
    padding: 125px 325px;
}

/*card taller*/
.card_hero {
    display: flex;
    img {
        width: 60%;
    }
    &_content {
        padding: 10px;
        background-color: #9c7856;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/*........................GALERÍA..........................*/

.grid_container_stickers {
    display: grid;
    gap: 10px;
    grid-template-areas: 'c1 c2 c3';

    .primer_carousel_stickers {
        grid-area: c1;
        /*carousel galería stickers*/
        .carousel-item {
            width: 100%;
            height: 600px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .segundo_carousel_parches_corazones {
        grid-area: c2;
        .carousel-item {
            width: 100%;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
            .card-title {
                text-align: center;
                color: #000000;
            }
        }
}


 /*carousel piezas digitales x galería*/
.container-fluid {
    background-color: rgb(115, 115, 115);
    .carousel-item {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
    }
    .card_title {
        text-align: center;
        color: #000000;
    }
}

/*.......................CONTACTO.......................*/

.grid_container_form_map {
    display: grid;
    grid-template-areas: 'form form form map map';
    gap: 10px;
    padding: 10px;
    & > div {
        text-align: start;
        padding: 20px 0;
    }
    .item1 {
        grid-area: form;
        /*formulario de contacto*/
        label {
            padding: 5px 20px;
            display: inline-block;
        }
        legend {
            padding: 20px 20px;
        }
        input[type=text], textarea {
            width: 90%;
            margin: 10px 20px;
            padding: 20px 20px;
            border: 2px solid #CCC;
            height: 20px;
        }
        input[type=text_mensaje], textarea {
            width: 90%;
            margin: 10px 20px;
            padding: 20px 20px;
            border: 2px solid #CCC;
            height: 100%;
        }
        .boton_enviar {
            padding: 15px 105px;
            background-color: #000000;
            color:white;
            font-family: 'Rambla', sans-serif;
            border: none;
            text-align: center;
            
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            
            transition-duration: 0.4s;
            cursor: pointer;
        }
    }
    .item2 {
        grid-area: map;
        /*mapa*/
        .mapa {
            width: 100%;
            height: 100%;
            display: inline;
            padding: 20px 20px;
        }
    }
}

/*....................FOOTER.....................*/

 footer {
	padding: 50px 40px;
	background-color: #000000;
    color: white;
	text-align: right;
    font-size: 24px;
    text-align: center;
    
    .logo { 
        border-radius: 50%; 
        padding: 15px 15px;
    }
}