@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
/*font-family: 'Rambla', sans-serif;*/ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: 'Bebas Neue', sans-serif;*/

* { box-sizing: border-box; 
    margin:0;
    padding:0;
    font-family: 'Rambla', sans-serif; 
} 

a { 
    text-decoration: none;
} 

body { 
    height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f7f9f9
} 

/*texto*/
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #fff;
    background-color: rgb(118, 5, 112);
    padding: 20px 20px; 
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px 20px;
    color: #fff; 
    background-color: #000000;
}

h3 {
    padding: 20px 20px; 
    color: white;
    background-color: #a0a8f3;
}

h4 {
    color: white;
    background-color: #cfb7ff;
}

h5 {
    color: white;
}

h6 {
    color: #333;
}

/*imágenes*/
img { 
    width: 200px;
} 

/*................NAVBAR..................*/
nav {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: black; 
    position: sticky;
 } 

.nav_list {
    display: flex;
    gap: 30px;
}

.nav_link, .nav_brand {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
 }

 li {
    list-style-type: none;
 } 


/*....................FOOTER.....................*/

 footer {
	padding: 50px 40px;
	background-color: #000000;
    color: white;
	text-align: right;
    font-size: 24px;
    text-align: center;
    
    .logo { 
        border-radius: 50%; 
        padding: 15px 15px;
    }
}