/*hero*/
.hero_imágen_index {
    background-image: url(../../imgs/indexespatula.png);
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9967ce;
}
  
.hero_text {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 100px;
    color: #fff;
    padding: 40px 20px;
}

.grid_index { 
	display: grid;
    grid-template-areas:
    'i0 ti ti'
    'i0 i1 i2';

    .intro_index { 
        grid-area: i0;
    }

    .título_integrantes { 
        grid-area: ti;
    }

    .integrante1 { 
        grid-area: i1;
    }

    .integrante2 { 
        grid-area: i2;
    }

    & > div {
        text-align: start;
        padding: 20px 20px;
    }

    .fotoequipo { 
        border-radius: 50%; 
    }
}