/*hero pag de taller*/
.hero_imágen_mesadetrabajo {background-image: url(../imgs/mesadetrabajo6.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_text_mesadetrabajo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: end;
    font-size: 100px;
    color: #000000;
    padding: 125px 325px;
}

/*card taller*/
.card_hero {
    display: flex;
    img {
        width: 60%;
    }
    &_content {
        padding: 10px;
        background-color: #9c7856;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.grid_container_herramientas {
    display: grid;  
    grid-template-areas: 
    'h1 h2 h3 h4'
    'h5 h6 h7 h8';

    .herramienta1 {
        grid-area: h1;
    }

    .herramienta2 {
        grid-area: h2;
    }

    .herramienta3 {
        grid-area: h3;
    }

    .herramienta4 {
        grid-area: h4;
    }

    .herramienta5 {
        grid-area: h5;
    }

    .herramienta6 {
        grid-area: h6;
    }

    .herramienta7 {
        grid-area: h7;
    }

    .herramienta8 {
        grid-area: h8;
    }

    & > div {
        text-align: start;
        padding: 10px 10px;
    }

    .subtítulos {
        text-align: start;
        font-weight: bold;
        padding-bottom: 8px;   
    }
}