.grid_container_stickers {
    display: grid;
    gap: 10px;
    grid-template-areas: 'c1 c2 c3';

    .primer_carousel_stickers {
        grid-area: c1;
        /*carousel galería stickers*/
        .carousel-item {
            width: 100%;
            height: 600px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .segundo_carousel_parches_corazones {
        grid-area: c2;
        .carousel-item {
            width: 100%;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
            .card-title {
                text-align: center;
                color: #000000;
            }
        }
}


 /*carousel piezas digitales x galería*/
.container-fluid {
    background-color: rgb(115, 115, 115);
    .carousel-item {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
    }
    .card_title {
        text-align: center;
        color: #000000;
    }
}
