
.carousel_piezas_serigraficas {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    flex-direction: column;
    gap: 10px;
    
    .carousel-inner {
        width: 600px;
    }
}

.carousel_piezas_serigraficas2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    flex-direction: column;
    gap: 10px;
    
    .carousel-inner {
        width: 600px;
    }
}
